<%- include('header'); -%>
	<div class="box" id="heading">
		<h1><%=day%> </h1>
	</div>
	
	<div class="box">
		<% items.forEach(function(item){%>

			<form action="/delete" method="post">
				<div class="item">
					<input onchange="this.form.submit()" type="checkbox" name="check" value="<%=item._id%>">
					<p><%=item.name%></p>
				</div>
				<input type="hidden" name="listName" value="<%=day%>">
			</form>
			
				
		<% });%>
		
		<form class="form" action="/" method="post">
			<input type="text" name="newitem" placeholder="New item" required>
			<button type="submit" class="button" name="button" value="<%=day%>">+</button>
		</form>

	</div>
	
<%- include('footer'); -%>